<%- include('../partials/header') %>

<h1>New Skill</h1>

<!-- action === href of an a tag -->
<form action="/skills" method="POST" autocomplete="off">
  <input type="text" placeholder="Enter new Skill" name="skill">
  <button type="submit">Save Skill</button>
</form>

<%- include('../partials/footer') %>
